{% extends 'base.html' %}
{% block content %}
<h1>Авторизация</h1>
<form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input name="email" type="email" class="form-control" id="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="password">
    </div>
    {% if message %}
    <div class="alert alert-danger" role="alert">
      {{ message }} 
    </div>
    {% endif %}
    <input type="submit" value="Войти">
</form>
{% endblock %}